repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check .
        language: system
        pass_filenames: false

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format .
        language: system
        pass_filenames: false

      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        pass_filenames: false

      - id: mdformat
        name: mdformat
        entry: uv run mdformat .
        language: system
        pass_filenames: false